body{
  background-color:black;
}

h1{
  color: red;
background-color:cyan;
  text-align: center;
 font-family : verdana
}

h2{
  color: orange;
background-color:yellow;
  text-align: center;
 font-family : verdana
}


