body{
  background-color:white;
}

h1{
  color: red;
  text-align: center;
 font-family : verdana
}

p{
color:green;
  font-family: Brush Script MT;
  fop.dotted ;
border-style: dotted;
}

