body{
  background-color:black;
}

h1{
  color: red;
  background-color: aqua;
  text-align: center;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 40px;
  margin-bottom: 10px;

  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;

}

h2{
color: aqua;
 background-color: blue;
font : italic 600 15px verdana,sans-seriff;
margin-top: 100px;
margin-right: 10px;
margin-left: 20px;
margin-bottom: 100px;

padding-left: 30px;
padding-top: 30px;
padding-right: 30px;
padding-bottom: 30px;

}


